{
    "root": true,
    "ignorePatterns": ["/*", "!/src", "!/ui"],
    "overrides": [
        {
            "files": ["ui/**/*.ts"],
            "env": {
                "browser": true,
                "es6": true,
                "node": true
            },
            "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:@typescript-eslint/recommended-requiring-type-checking"],
            "parser": "@typescript-eslint/parser",
            "parserOptions": {
                "project": ["./ui/tsconfig.json"],
                "sourceType": "module"
            },
            "plugins": ["@typescript-eslint"]
        },
        {
            "files": ["src/**/*.ts"],

            "extends": ["@js-soft/ts"],
            "parserOptions": {
                "project": ["./tsconfig.json"]
            },
            "rules": {}
        }
    ]
}
